.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.warning {
  height: 20px;
  background: #f2994a;
  color: white;
  font-size: 14px;

  font-style: normal;
  font-weight: normal;

  color: #ffffff;
}

.header {
  background: #2f80ed;
  color: white;
  font-size: 14px;

  height: 50px;
}

.footer {
  background: #2f80ed;
  color: white;
  font-size: 14px;

  height: 50px;
}
